/* Default styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #89B0AE;
}

#head_bar {
    text-align: center;
    height: 75px;
    color: #FFD6BA;
    background-color: #555B6E;
}

#elements {
    height: 150px;
    width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ele {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border: 4px solid transparent;
    border-radius: 30px;
}

.ele:hover {
    opacity: 0.5;
    border: 4px solid black;
}

.ele:active {
    border: 4px solid cyan;
}

img {
    height: 50px;
}

#points {
    margin: auto;
    margin-top: 100px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.points_single {
    font-size: 40px;
    text-align: center;
    height: 200px;
    width: 300px;
}

#msg_box {
    background-color: #FAF9F9;
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 30px;
}

/* Media queries for mobile phones */
@media only screen and (max-device-width: 480px) {
    /* Adjust styles for devices with a maximum width of 480px (most mobile phones) */
    #head_bar {
        height: 50px;
        font-size: 16px;
    }

    #elements {
        width: 90%;
    }

    .ele {
        font-size: 30px;
        height: 80px;
        width: 80px;
    }

    .points_single {
        font-size: 30px;
        height: 150px;
        width: 250px;
    }

    #msg_box {
        width: 90%;
        margin-top: 50px;
    }
}